
	@media screen and (max-width: 480px) {

		html, body {
			min-width: 320px;
		}

	}


		@media screen and (max-width: 1680px) {

			body, input, select, textarea {
				font-size: 12pt;
			}

		}

		@media screen and (max-width: 980px) {

			body, input, select, textarea {
				font-size: 12pt;
			}

		}

		@media screen and (max-width: 736px) {

			body, input, select, textarea {
				font-size: 12pt;
			}

		}

		@media screen and (max-width: 480px) {

			body, input, select, textarea {
				font-size: 12pt;
			}

		}
		
		@media screen and (max-width: 736px) {

				.image.featured {
					margin: 0 0 1.5em 0;
				}

			}
			
		@media screen and (max-width: 980px) {

				ul.actions.pagination {
					text-align: center;
				}

					ul.actions.pagination .next, ul.actions.pagination .previous {
						min-width: 20em;
					}

			}

			@media screen and (max-width: 736px) {

				ul.actions.pagination .next, ul.actions.pagination .previous {
					min-width: 18em;
				}

			}
			
		@media screen and (max-width: 480px) {

				ul.actions {
					margin: 0 0 2em 0;
				}

					ul.actions li {
						padding: 1em 0 0 0;
						display: block;
						text-align: center;
						width: 100%;
					}

						ul.actions li:first-child {
							padding-top: 0;
						}

						ul.actions li > * {
							width: 100%;
							margin: 0 !important;
						}

					ul.actions.small li {
						padding: 0.5em 0 0 0;
					}

						ul.actions.small li:first-child {
							padding-top: 0;
						}

			}

	@media screen and (max-width: 980px) {

			.mini-posts .posts-container {
				display: -moz-flex;
				display: -webkit-flex;
				display: -ms-flex;
				display: flex;
				-moz-flex-wrap: wrap;
				-webkit-flex-wrap: wrap;
				-ms-flex-wrap: wrap;
				flex-wrap: wrap;
				justify-content: space-between;
				width: 100%;
			}

				.mini-posts .posts-container > * {
					margin: 2em 0 0 0;
					width: 24%;
					margin-top: 0;
				}

		}

		@media screen and (max-width: 800px) {


			.mini-posts .posts-container > * {
				margin: 0 0 2em 0;
				width: 49%;
			}

		}

		@media screen and (max-width: 480px) {

				.mini-posts .posts-container > * {
					margin: 0 0 2em 0;
					width: 100%;
				}

		}

		@media screen and (max-width: 980px) {

			.post {
				border-left: 0;
				border-right: 0;
				left: -3em;
				width: calc(100% + (3em * 2));
			}

				.post > header {
					-moz-flex-direction: column;
					-webkit-flex-direction: column;
					-ms-flex-direction: column;
					flex-direction: column;
					padding: 3.75em 3em 1.25em 3em ;
					border-left: 0;
				}

					.post > header .title {
						-ms-flex: 0 1 auto;
						margin: 0 0 2em 0;
						padding: 0;
						text-align: left;
					}

					.post > header .meta {
						-moz-align-items: center;
						-webkit-align-items: center;
						-ms-align-items: center;
						align-items: center;
						display: -moz-flex;
						display: -webkit-flex;
						display: -ms-flex;
						display: flex;
						-moz-justify-content: center;
						-webkit-justify-content: center;
						-ms-justify-content: center;
						justify-content: center;
						border-left: 0;
						margin: 0 0 2em 0;
						padding-top: 0;
						padding: 0;
						text-align: left;
						width: 100%;
					}

						.post > header .meta > * {
							border-left: solid 1px rgba(160, 160, 160, 0.3);
							margin-left: 2em;
							padding-left: 2em;
						}

						.post > header .meta > :first-child {
							border-left: 0;
							margin-left: 0;
							padding-left: 0;
						}

						.post > header .meta .published {
							margin-bottom: 0;
							margin-top: 0;
						}

						.post > header .meta .author {
							-moz-flex-direction: row-reverse;
							-webkit-flex-direction: row-reverse;
							-ms-flex-direction: row-reverse;
							flex-direction: row-reverse;
							margin-bottom: 0;
						}

							.post > header .meta .author .name {
								margin: 0 0 0 1.5em;
							}

							.post > header .meta .author img {
								width: 3.5em;
							}

		}

		@media screen and (max-width: 736px) {

			.post {
				padding: 1.5em 1.5em 0.1em 1.5em ;
				left: -1.5em;
				margin: 0 0 2em 0;
				width: calc(100% + (1.5em * 2));
			}

				.post > header {
					padding: 3em 1.5em 0.5em 1.5em ;
					left: -1.5em;
					margin: -1.5em 0 1.5em 0;
					width: calc(100%);
				}

					.post > header .title h1 {
						font-size: 1.1em;
					}

					.post > header .title h2 {
						font-size: 1.1em;
					}

		}

		@media screen and (max-width: 480px) {

			.post > header .meta {
				-moz-align-items: center;
				-webkit-align-items: center;
				-ms-align-items: center;
				align-items: center;
				-moz-flex-direction: column;
				-webkit-flex-direction: column;
				-ms-flex-direction: column;
				flex-direction: column;
			}

				.post > header .meta > * {
					border-left: 0;
					margin: 1em 0 0 0;
					padding-left: 0;
				}

				.post > header .meta .author .name {
					display: none;
				}

			.post > .image.featured {
				margin-left: -1.5em;
				margin-top: 0;
				width: calc(100% + 3em);
			}

			.post > footer {
				-moz-align-items: stretch;
				-webkit-align-items: stretch;
				-ms-align-items: stretch;
				align-items: stretch;
				-moz-flex-direction: column-reverse;
				-webkit-flex-direction: column-reverse;
				-ms-flex-direction: column-reverse;
				flex-direction: column-reverse;
			}

				.post > footer .stats {
					text-align: center;
				}

					.post > footer .stats li ul li {
						margin: 0 0 0 1.25em;
						padding: 0 0 0 1.25em;
					}

		}

		@media screen and (max-width: 980px) {

				.itemized {
					border-left: 0;
					border-right: 0;
					left: -3em;
					width: calc(100% + (3em * 2));
				}

					.itemized > header {
						-moz-flex-direction: column;
						-webkit-flex-direction: column;
						-ms-flex-direction: column;
						flex-direction: column;
						padding: 1em ;
						border-left: 0;
					}

						.itemized > header .title {
							-ms-flex: 0 1 auto;
							margin: 0 0 1em 0;
							padding: 0;
							text-align: center;
						}

						.itemized > header .meta {
							-moz-align-items: center;
							-webkit-align-items: center;
							-ms-align-items: center;
							align-items: center;
							display: -moz-flex;
							display: -webkit-flex;
							display: -ms-flex;
							display: flex;
							-moz-justify-content: center;
							-webkit-justify-content: center;
							-ms-justify-content: center;
							justify-content: center;
							border-left: 0;
							margin: 0 0 1em 0;
							padding-top: 0;
							padding: 0;
							text-align: left;
							width: 100%;
						}

							.itemized > header .meta > * {
								border-left: solid 1px rgba(160, 160, 160, 0.3);
								margin-left: 2em;
								padding-left: 2em;
							}

							.itemized > header .meta > :first-child {
								border-left: 0;
								margin-left: 0;
								padding-left: 0;
							}

							.itemized > header .meta .published {
								margin-bottom: 0;
								margin-top: 0;
							}

							.itemized > header .meta .author,
							.itemized > header .meta .format {
								-moz-flex-direction: row-reverse;
								-webkit-flex-direction: row-reverse;
								-ms-flex-direction: row-reverse;
								flex-direction: row-reverse;
								margin-bottom: 0;
							}

								.itemized > header .meta .author .name,
								.itemized > header .meta .format .name {
									margin: 0 0 0 1.5em;

								}

								.itemized > header .meta .author img,
								.itemized > header .meta .format img {
									width: 3.5em;
								}

			}

			@media screen and (max-width: 736px) {

				.itemized {
					padding: 0;
					left: -1.5em;
					margin: 0 0 1em 0;
					width: calc(100% + (1.5em * 2));
				}

					.itemized > header {
						padding: 3em 1.5em 0.5em 1.5em ;
						left: -1.5em;
						margin: -1.5em 0 0 0;
						width: calc(100% + 3em);
					}

						.itemized > header .title h2 {
							font-size: 1em;
						}

			}

			@media screen and (max-width: 480px) {

				.itemized > header .meta {
					-moz-align-items: center;
					-webkit-align-items: center;
					-ms-align-items: center;
					align-items: center;
					-moz-flex-direction: column;
					-webkit-flex-direction: column;
					-ms-flex-direction: column;
					flex-direction: column;
				}

					.itemized > header .meta > * {
						border-left: 0;
						padding-left: 0;
						margin-left: 0;
					}

					.itemized > header .meta .author .name {
						display: none;
					}

				.itemized > .image.featured {
					margin-left: -1.5em;
					margin-top: calc(-1.5em - 1px);
					width: calc(100% + 3em);
				}

				.itemized > footer {
					-moz-align-items: stretch;
					-webkit-align-items: stretch;
					-ms-align-items: stretch;
					align-items: stretch;
					-moz-flex-direction: column-reverse;
					-webkit-flex-direction: column-reverse;
					-ms-flex-direction: column-reverse;
					flex-direction: column-reverse;
				}

					.itemized > footer .stats {
						text-align: center;
					}

						.itemized > footer .stats li {
							margin: 0 0 0 1.25em;
							padding: 0 0 0 1.25em;
						}

			}

	@media screen and (min-width: 715px) {

		table > tbody > tr:hover > td,
		table > tbody > tr:hover > th {
			background-color: RGBA(46, 186, 174, .3);
		}

		table > tbody > tr:nth-child(even) > td,
		table > tbody > tr:nth-child(even) > th {
			background-color: #f4f4f4;
		}
	}

	@media screen and (max-width: 715px) {

		table {
			width: 75%;
			margin: auto;
			background-color: transparent;
			-webkit-box-shadow: none;
			-moz-box-shadow: none;
			box-shadow: none;
			border: 0;
		}

			table > thead,
			table > tfoot {
				display: none;
			}

			table > tbody {
				display: block;
				border: none;
			}

				table > tbody > tr,
				table > tbody > tr.active {
					display: block;
					border: 1px solid #e0e0e0;
				}

					table > tbody > tr > td {
						background-color: #ffffff;
						display: block;
						text-align: right;
					}

						table > tbody > tr > td[data-header]:before {
							content: attr(data-header);
							float: left;
							font-size: inherit;
							font-weight: bold;
							color: #757575;
						}

						table > tbody > tr > td:first-child {
							text-align: left;
							font-weight: bold;
							background-color: #ececec;
							border-right: 1px solid #e0e0e0;
						}

							table > tbody > tr > td:first-child:after {
								float: right;
								content: "\f107";
								font-family: FontAwesome;
								font-style: normal;
								font-weight: normal;
								text-decoration: inherit;
								transition: all .35s;
							}

							table > tbody > tr > td:first-child:hover {
								background-color: RGBA(0, 0, 0, .2);
							}

						table > tbody > tr > td:not(:first-child) {
							opacity: 0;
							position: absolute;
							z-index: -1;
							-webkit-transition: none;
							-moz-transition: none;
							-o-transition: none;
							-ms-transition: none;
							transition: none;
						}

							table > tbody > tr > td:not(:first-child):hover {
								background-color: RGBA(46, 186, 174, .3);
							}

			table > tbody > tr.active > td:first-child {
				border-bottom: 2px solid #e0e0e0;
			}

				table > tbody > tr.active > td:first-child:after {
					transform: rotateX(180deg);
				}

			table > tbody > tr.active > td:not(:first-child) {
				opacity: 1;
				position: relative;
				z-index: auto;
				-webkit-transition: all 0.5s ease;
				-moz-transition: all 0.5s ease;
				-o-transition: all 0.5s ease;
				-ms-transition: all 0.5s ease;
				transition: all 0.5s ease;
			}

			table > tbody > tr.active > td:last-child {
				border-bottom: 0;
			}
	}
			
		    @media screen and (max-width: 736px) {
	        #header h2 {
	            padding: 0 0 0 1em;
	        }
	    }


		@media screen and (min-width: 980px) {

				#header .menu {
					display: none;
				}

			}

		@media screen and (max-width: 980px) {

			#header .links {
				display: none;
			}

		}

		@media screen and (max-width: 736px) {

			#header {
				height: 2.75em;
				line-height: 2.75em;
			}

				#header h1 {
					padding: 0 0 0 1em;
				}

				#header .main .search {
					display: none;
				}

		}

		@media screen and (max-width: 320px) {
			#header h1 {
				min-width: 0;
				padding: 0 0 0 .5em;
			}
		}		
		
				@media screen and (max-width: 1680px) {

			#wrapper {
				padding: 3em;
			}

		}

		@media screen and (max-width: 980px) {

			#wrapper {
				display: block;
			}

		}

		@media screen and (max-width: 736px) {

			#wrapper {
				padding: 1.5em;
			}

		}
	@media screen and (max-width: 980px) {

			#sidebar {
				border-top: solid 1px rgba(160, 160, 160, 0.3);
				margin: 3em 0 0 0;
				min-width: 0;
				padding: 3em 0 0 0;
				width: 100%;
			}

		}
		
	@media screen and (max-width: 980px) {

		#intro {
			margin: 0 0 3em 0;
			text-align: center;
		}

			#intro header h2 {
				font-size: 2em;
			}

			#intro header p {
				font-size: 0.7em;
			}

	}

	@media screen and (max-width: 736px) {

		#intro {
			margin: 0 0 1.5em 0;
			padding: 1.25em 0;
		}

			#intro > :last-child {
				margin-bottom: 0;
			}

			#intro .logo {
				margin: 0 0 0.5em 0;
			}

			#intro header h2 {
				font-size: 1.25em;
			}

			#intro header > :last-child {
				margin-bottom: 0;
			}

	}

		@media screen and (max-width: 736px) {

			#menu > * {
				padding: 1.5em;
			}

		}
	
			@media screen and (max-width: 736px) {

				#share-menu > * {
					padding: 1.5em;
				}

			}
		